# DATABASE
DB_URL=URL_DO_SEU_BANCO_DE_DADOS
DB_USERNAME=USUÁRIO_DO_SEU_BANCO_DE_DADOS
DB_PASSWORD=SENHA_DO_SEU_BANCO_DE_DADOS

# JWT TOKEN
JWT_SECRET=CONFIGURAÇÃO_DO_SEU_JWT

# E-MAIL SMTP
MAIL_HOST=smtp.seu-provedor.com
MAIL_PORT=587
MAIL_USERNAME=seu-email@dominio.com
MAIL_PASSWORD=SUA_SENHA_OU_APP_PASSWORD
